body {
  margin: 0;
  padding: 0;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke-width: 0.25pt;
  stroke: #555;
}

select {
	min-width: 100px;
	margin-left: 10px;
	margin-right: 25px;
}

#container {
  text-align: center;
}

#selectionUI {
  display: inline-block;
}

.zurb-footer-bottom {
  background-color: #333;
  color: #858585;
  font-weight: bold;
  padding: 10px;
}

.zurb-footer-bottom {
  h5 {
    color: #858585;
    font-weight: bold;
  }
}

.zurb-footer-bottom {
  a {
    color: #858585;
    font-weight: bold;
  }
}

.no-padding-column-class {
  padding-left: 7px;
  padding-right: 7px;
}

.own-tooltip {
  border-width : 1px;
  border-style:solid;
  border-color: #e6e6e6;
  background-color: #fff;
  padding:16px;
}

.tabs-title > a {
  padding:1rem 1rem;
}

.row-background {
  background-color: #ddd;
}

.visualization {
  background-color: #ddd;
  padding-left: 2px;
  padding-right: 2px;
}

#vis {
  background-color: #ddd;
}

ul.tabs {
    text-align: center;
}

ul.tabs li {
    float: none !important;
    display: inline-block;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.feature-label {
  color: #000;
  float:left;
  padding-right: 10px;
}

.feature-dropdown {
  height: auto !important;
  max-height: 300px;
  overflow: scroll;
}
